<script setup>
let bodyEL;

onMounted(() => {
  bodyEL = document.body;
  useScroll(bodyEL, { behavior: "smooth" });
});

useHead({
  htmlAttrs: {
    lang: "en",
  },
  script: [
    {
      src: "https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=636e4037c3c48120c217fe15",
      integrity: "sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=",
      crossorigin: "anonymous",
      body: true,
    },
  ],
});
</script>

<template>
  <NuxtPage />
</template>
