<script setup></script>

<template>
  <section
    id="benefits"
    class="relative w-full overflow-x-clip pt-56 xl:pt-48 lg:pt-12 md:pt-0"
  >
    <div class="gradient-bg">
      <div></div>
      <div class="animation-delay-2000"></div>
      <div class="animation-delay-4000"></div>
    </div>
    <!-- <div
      class="absolute top-[20%] -left-4 w-[40vw] h-[40vw] bg-oc-purple rounded-full opacity-50 filter blur-[300px] animate-blob xl:blur-[250px] lg:w-[60vw] lg:h-[60vw] lg:top-[10%] md:w-[70vw] md:h-[70vw] md:blur-[100px] md:top-0"
    ></div>
    <div
      class="absolute top-[40%] -right-4 w-[40vw] h-[40vw] bg-oc-gold rounded-full opacity-50 blur-[300px] animate-blob animation-delay-2000 xl:blur-[250px] lg:w-[60vw] lg:h-[60vw] md:w-[70vw] md:h-[70vw] md:blur-[100px] md:top-[20%]"
      style="animation-delay: 2s"
    ></div>
    <div
      class="absolute bottom-[20%] left-auto right-auto w-[40vw] h-[40vw] bg-pink-300 rounded-full opacity-50 blur-[300px] animate-blob animation-delay-4000 xl:blur-[250px] lg:w-[60vw] lg:h-[60vw] md:w-[70vw] md:h-[70vw] md:blur-[100px] md:top-[40%]"
    ></div> -->

    <div class="relative z-20 w-full flex flex-col items-center pb-40 md:pb-20">
      <div
        class="mt-28 w-[700px] bg-transparent rounded-[64px] py-16 border border-oc-purple/50 flex flex-col items-center lg:border-none lg:w-screen"
      >
        <div
          class="relative px-14 py-4 font-bold text-[5rem] text-center rounded-[29px] border-[4px] border-oc-purple lg:text-[9vw] lg:rounded-[4vw] md:text-[12vw] md:rounded-[5vw] md:px-7 md:py-2 md:border-[2px]"
        >
          BENEFITS
        </div>

        <div
          class="relative w-full flex items-center mt-36 lg:flex-col lg:mt-24"
        >
          <div
            class="absolute w-[350px] h-[471px] rounded-[20px] left-[-190px] shadow-2xl bg-cover bg-no-repeat bg-center bg-[url('@img/empty-wine-glasses-on-tray-in-restaurant-2021-08-28-07-17-40-utc.png')] lg:relative lg:w-[80vw] lg:h-[120vw] lg:left-0 md:w-[90vw]"
          ></div>

          <div
            class="flex flex-col gap-8 ml-10 px-12 pl-[24%] lg:w-[80vw] lg:px-0 lg:ml-0 lg:mt-[8%] md:gap-4 md:w-[90vw]"
          >
            <h3 class="text-[1.8rem] leading-[1] font-bold lg:text-[6vw]">
              EVENTS
            </h3>
            <p
              class="text-[1.3rem] leading-[1.8] lg:text-[1.5rem] md:text-[1.1rem]"
            >
              We have hosted more than 30 networking events virtually and
              physically in locations such as Paris and Zurich. Gain access to
              our hand-picked network of business owners & decision makers at
              regular virtual & physical events. Present your business, network
              in breakout sessions, learn from guest speakers, and enjoy food &
              alcohol tastings with like-minded people.
            </p>
          </div>
        </div>

        <div
          class="relative w-full flex items-center mt-40 lg:flex-col lg:mt-24"
        >
          <div
            class="absolute w-[350px] h-[471px] rounded-[20px] right-[-190px] shadow-2xl bg-cover bg-no-repeat bg-center bg-[url('@img/colleagues-analyzing-sales-reports-2021-08-30-17-13-14-utc.png')] lg:relative lg:w-[80vw] lg:h-[120vw] lg:right-0 md:w-[90vw]"
          ></div>

          <div
            class="flex flex-col items-end gap-8 mr-10 px-12 pr-[24%] lg:w-[80vw] lg:px-0 lg:mr-0 lg:mt-[8%] lg:items-start md:gap-4 md:w-[90vw]"
          >
            <h3 class="text-[1.8rem] leading-[1] font-bold lg:text-[6vw]">
              GROW YOUR REVENUE
            </h3>
            <p
              class="text-[1.3rem] text-right leading-[1.8] lg:text-[1.5rem] lg:text-left md:text-[1.1rem]"
            >
              Generate intra- & cross-industry cross sales through launching new
              products and experiences, hosting joint events and marketing
              campaigns, sharing customers and distribution channels, and
              extending your product offering.
            </p>
          </div>
        </div>

        <div
          class="relative w-full flex items-center mt-56 lg:flex-col lg:mt-24"
        >
          <div
            class="absolute w-[350px] h-[471px] rounded-[20px] left-[-190px] shadow-2xl bg-cover bg-no-repeat bg-center bg-[url('@img/a-young-millennial-investor-reviews-a-stock-market-2021-08-29-01-17-38-utc.png')] lg:relative lg:w-[80vw] lg:h-[120vw] lg:left-0 md:w-[90vw]"
          ></div>

          <div
            class="flex flex-col gap-8 ml-10 px-12 pl-[24%] lg:w-[80vw] lg:px-0 lg:ml-0 lg:mt-[8%] md:gap-4 md:w-[90vw]"
          >
            <h3 class="text-[1.8rem] leading-[1] font-bold lg:text-[6vw]">
              ACCESS TO CAPITAL
            </h3>
            <p
              class="text-[1.3rem] leading-[1.8] lg:text-[1.5rem] md:text-[1.1rem]"
            >
              Raise capital to fund your business growth through our
              partnerships with selected family office investors across the
              world.
            </p>
          </div>
        </div>

        <div
          class="relative w-full flex items-center mt-60 lg:flex-col lg:mt-24"
        >
          <div
            class="absolute w-[350px] h-[471px] rounded-[20px] right-[-190px] shadow-2xl bg-cover bg-no-repeat bg-center bg-[url('@img/computer-with-video-call-conference-on-desk-in-emp-2022-02-15-19-29-18-utc.png')] lg:relative lg:w-[80vw] lg:h-[120vw] lg:right-0 md:w-[90vw]"
          ></div>

          <div
            class="flex flex-col items-end gap-8 mr-10 px-12 pr-[24%] lg:w-[80vw] lg:px-0 lg:mr-0 lg:mt-[8%] lg:items-start md:gap-4 md:w-[90vw]"
          >
            <h3 class="text-[1.8rem] leading-[1] font-bold lg:text-[6vw]">
              PARTNERSHIP CALLS
            </h3>
            <p
              class="text-[1.3rem] text-right leading-[1.8] lg:text-[1.5rem] lg:text-left md:text-[1.1rem]"
            >
              We set up meetings with decision makers of the businesses in our
              community based on your requirements.
            </p>
          </div>
        </div>

        <div
          class="relative w-full flex items-center mt-56 lg:flex-col lg:mt-24"
        >
          <div
            class="absolute w-[350px] h-[471px] rounded-[20px] left-[-190px] shadow-2xl bg-cover bg-no-repeat bg-center bg-[url('@img/your_app.png')] lg:relative lg:w-[80vw] lg:h-[120vw] lg:left-0 md:w-[90vw]"
          ></div>

          <div
            class="flex flex-col gap-8 ml-10 px-12 pl-[24%] lg:w-[80vw] lg:px-0 lg:ml-0 lg:mt-[8%] md:gap-4 md:w-[90vw]"
          >
            <h3 class="text-[1.8rem] leading-[1] font-bold lg:text-[6vw]">
              YOUR APP
            </h3>
            <p
              class="text-[1.3rem] leading-[1.8] lg:text-[1.5rem] md:text-[1.1rem]"
            >
              Access the network through your own app profile, on the Otium
              Circle app. Stay connected and read about the latest cross sale
              deals in the Otium Circle Magazine.
            </p>
          </div>
        </div>
      </div>

      <svg
        viewBox="0 0 1086 129"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="mt-[8%] w-[44%] xl:w-[64%] xl:mt-[10%] lg:w-[74%] md:w-[90%] md:mt-[4%]"
      >
        <line
          x1="0.0585799"
          y1="0.503444"
          x2="1085.06"
          y2="128.503"
          stroke="url(#paint0_linear_620_60)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_620_60"
            x1="1085"
            y1="129"
            x2="0"
            y2="1"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#A13789" />
            <stop offset="1" stop-color="#F6A012" />
          </linearGradient>
        </defs>
      </svg>

      <div
        class="flex flex-col items-center mt-10 w-[50%] lg:w-[66%] md:w-[90%]"
      >
        <span
          class="mb-5 text-[3rem] text-center leading-[1.2] md:text-[1.8rem]"
          >download the app</span
        >

        <div class="w-full flex items-center mt-4">
          <a
            href="https://play.google.com/store/apps/details?id=com.otiumcircle.android"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'google-play_top'});"
            target="_blank"
            class="py-4 px-8 w-full h-[110px] flex items-center justify-center rounded-3xl border border-white cursor-pointer mr-5 hover:bg-[#161616] lg:h-[90px] md:h-[60px] md:px-6 md:rounded-xl md:w-full md:mr-2"
          >
            <img
              src="@icons/android.png"
              loading="lazy"
              alt="android"
              class="mr-6 md:w-[30px] md:mr-3"
            />
            <div class="oc-store-name text-3xl md:text-lg">Android</div>
          </a>

          <a
            href="https://itunes.apple.com/gb/app/simpleinapps/id1358702776?mt=8"
            onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'app-store_top'});"
            target="_blank"
            class="py-4 px-8 w-full h-[110px] flex items-center justify-center rounded-3xl border border-white cursor-pointer ml-5 hover:bg-[#161616] lg:h-[90px] md:h-[60px] md:px-6 md:rounded-xl md:w-full md:ml-2"
          >
            <img
              src="@icons/apple.png"
              loading="lazy"
              alt="apple"
              class="mr-6 md:w-[24px] md:mr-3"
            />
            <div class="oc-store-name text-3xl md:text-lg">iOS</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.gradient-border {
  border-color: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #930bfd,
    #b049ff
  );
}

.gradient-bg {
  @apply absolute overflow-x-clip w-full h-full top-0 left-0 flex flex-grow z-[-1];

  background: linear-gradient(to right, #000000, #000000);

  & div {
    @apply absolute rounded-full h-0 filter blur-[240vw] opacity-60 animate-blob;

    @screen xl {
      @apply opacity-70;
    }
  }

  & div:nth-child(1) {
    @apply w-[60%] pt-[60%] left-[41%] top-[19%];

    background: linear-gradient(132deg, #c73390 0%, #c63390 100%);
    transform: translateX(-50%) translateY(-50%);

    @screen lg {
      @apply w-[80%] pt-[100%];
    }

    @screen md {
      @apply w-[140%] pt-[160%] top-[12%];
    }
  }

  & div:nth-child(2) {
    @apply w-[68%] pt-[68%] left-full top-[53%];

    background: linear-gradient(132deg, #ffcc00 0%, #ffcc00 100%);
    transform: translateX(-50%) translateY(-50%);

    @screen lg {
      @apply w-[60%] pt-[180%];
    }

    @screen md {
      @apply w-[60%] pt-[260%] left-[80%];
    }
  }

  & div:nth-child(3) {
    @apply w-[73%] pt-[43%] left-[22%] bottom-[-20%];

    background: linear-gradient(132deg, #e83030 0%, #e9312f 100%);
    transform: translateX(-50%) translateY(-50%);

    @screen lg {
      @apply w-[90%] pt-[83%];
    }

    @screen md {
      @apply w-[140%] pt-[103%] bottom-[-15%];
    }
  }
}

.box {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(
      from var(--border-angle),
      #213,
      #112 50%,
      #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2))
      calc(100% - (var(--border-size) * 2)),
    cover;
  background-position: center center;
  background-repeat: no-repeat;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
</style>
