<script setup>
const props = defineProps({
  title: { type: String, default: "title" },
  partners: { type: Array, default: [] },
});

let bodyEL;
let isLocked;
const modalScrollEL = ref(null);
const modal = ref(null);
const open = ref(false);

const lockBodyScroll = () => {
  if (isLocked) isLocked.value = true;
};

const releaseBodyScroll = () => {
  if (isLocked) isLocked.value = false;
};

const openModal = () => {
  open.value = true;
  lockBodyScroll();
};

const closeModal = () => {
  open.value = false;
  releaseBodyScroll();
};

onClickOutside(modal, (event) => closeModal());

onMounted(() => {
  bodyEL = document.body;
  isLocked = useScrollLock(bodyEL);
  useScroll(modalScrollEL, { behavior: "smooth" });
});
</script>

<template>
  <div class="explore-cat-card">
    <div class="explore-cat-card-overlay" @click="openModal">
      <div class="oc-mood-txt">{{ title }}</div>
    </div>

    <Teleport to="body">
      <div
        v-if="open"
        class="fixed z-[99999999] inset-0 w-screen h-screen flex items-center justify-center bg-black/80"
      >
        <div
          ref="modal"
          class="relative bg-black gradient-border w-[35%] h-[80vh] rounded-3xl modal-shadow xl:w-[50%] md:w-screen md:h-screen md:rounded-none"
        >
          <div
            id="modal-nav"
            class="absolute inset-x-0 top-0 bottom-auto h-[60px] pl-6 pr-4 flex items-center justify-between rounded-t-3xl backdrop-blur-md backdrop-blur-bg"
          >
            <span
              class="text-oc-gold font-medium text-[1.375rem] md:text-[1.125rem]"
              >{{ title }}</span
            >

            <div
              class="px-4 py-2 rounded-[12px] bg-[#3f3f3f] hover:bg-[#292929] cursor-pointer"
              @click="closeModal"
            >
              <svg
                width="24px"
                height="24px"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#ffffff"
              >
                <path
                  d="M6.758 17.243L12.001 12m5.243-5.243L12 12m0 0L6.758 6.757M12.001 12l5.243 5.243"
                  stroke="#ffffff"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </div>
          </div>

          <div
            ref="modalScrollEL"
            class="w-full h-full px-6 pt-20 overflow-y-scroll rounded-3xl scrollbar-hide"
          >
            <Partner
              v-for="(partner, index) in partners"
              :key="index"
              :class="{
                hidden: partner.type != props.title,
              }"
              :partnerLogoUrl="
                partner.type == props.title ? partner.partner_logo.filename : ''
              "
              :partnerLogoAlt="
                partner.type == props.title ? partner.partner_logo.alt : ''
              "
              :partnerCoverUrl="
                partner.type == props.title
                  ? partner.partner_cover.filename
                  : ''
              "
              :partnerCoverAlt="
                partner.type == props.title ? partner.partner_cover.alt : ''
              "
              :partnerDecription="
                partner.type == props.title
                  ? partner.partner_business_description
                  : {
                      content: [{ content: [{ text: '', type: 'text' }] }],
                      type: 'doc',
                    }
              "
              :partnerBusLink="
                partner.type == props.title ? partner.partner_business_link : ''
              "
            />
          </div>
        </div>
      </div>
    </Teleport>
  </div>
</template>

<style lang="scss" scoped>
.explore-cat-card {
  @apply relative overflow-hidden w-[33vh] h-[22vh] rounded-3xl bg-cover bg-no-repeat bg-center;
  box-shadow: 28px 28px 60px 0 rgb(0 0 0 / 25%);

  @screen xl {
    @apply w-full h-[25vw];
  }

  @screen md {
    @apply h-[46vw];
  }
}

.explore-cat-card-overlay {
  @apply relative z-[2] w-full h-full p-[2%] flex items-center justify-center cursor-pointer;
  transition: all 600ms ease;

  @apply hover:bg-[#271e49ab];
}

.oc-mood-txt {
  @apply text-[1.5rem] leading-[1] font-black text-center;
  text-shadow: 1px 1px 6px #000;

  @screen xl {
    @apply text-[3vw];
  }

  @screen md {
    @apply text-[9vw];
  }
}

.backdrop-blur-bg {
  @apply bg-black/90;

  @supports (
    (backdrop-filter: blur(12px)) or (-webkit-backdrop-filter: blur(12px))
  ) {
    @apply bg-black/30;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.modal-shadow:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(26px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.modal-shadow::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

.gradient-border {
  --borderWidth: 1.5px;
  background: #000000;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #930bfd,
    #b049ff
  );
  border-radius: 1.5rem;
  border: 1.5rem;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>
