<script setup>
const story = await useAsyncStoryblok("partners", { version: "published" });
</script>

<template>
  <section id="explore" class="relative w-full overflow-clip mt-32 md:mt-20">
    <div class="shape absolute inset-0 mt-48 lg:mt-28 md:mt-20"></div>
    <div class="gradient-effect w-full absolute inset-0 z-10"></div>
    <div class="relative z-20 w-full flex flex-col items-center pb-52 md:pb-24">
      <div
        class="relative px-14 py-4 font-bold text-[5rem] text-center rounded-[29px] border-[4px] border-oc-gold lg:text-[9vw] lg:rounded-[4vw] md:text-[12vw] md:rounded-[5vw] md:px-7 md:py-2 md:border-[2px]"
      >
        EXPLORE
      </div>

      <div
        class="w-[60%] mt-16 text-[3rem] text-center font-medium lg:w-[80%] lg:mt-10 lg:text-[6vw] md:mt-5 md:text-[7vw]"
      >
        our community of businesses
      </div>

      <div class="explore-categories">
        <ExploreCard
          title="travel"
          :partners="story.content.body"
          class="bg-[url('@img/unique_experiences_&_retreat.jpg')]"
        />

        <ExploreCard
          title="premium products"
          :partners="story.content.body"
          class="bg-[url('@img/explore_pproducts_cover.png')]"
        />

        <ExploreCard
          title="super cars"
          :partners="story.content.body"
          class="bg-[url('@img/cars_planes_yachts.jpg')]"
        />

        <ExploreCard
          title="out of the box"
          :partners="story.content.body"
          class="bg-[url('@img/out_of_the_box.jpg')]"
        />
      </div>

      <div class="text-scroll mt-36 md:mt-24">
        <div>
          - an expanding <span>circle</span>of boutique luxury brands and
          decision makers
        </div>
        <div>
          - an expanding <span>circle</span>of boutique luxury brands and
          decision makers
        </div>
      </div>

      <div class="brand-wheel mt-20 md:mt-8">
        <div class="brand-slide">
          <div class="logo-div">
            <img
              alt="boataffair"
              loading="lazy"
              src="@img/partner_logos/boataffair_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="coppergold"
              loading="lazy"
              src="@img/partner_logos/coopers_gold_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="d_aincourt"
              loading="lazy"
              src="@img/partner_logos/d_aincourt_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="satryna"
              loading="lazy"
              src="@img/partner_logos/Satryna-Logo-black.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="chapter7"
              loading="lazy"
              src="@img/partner_logos/chapter7_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="fastclub"
              loading="lazy"
              src="@img/partner_logos/fastclub_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="LeMansCoupesBlack"
              loading="lazy"
              src="@img/partner_logos/LeMansCoupesBlackLogo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="yoga"
              loading="lazy"
              src="@img/partner_logos/yoga_logo.png"
              class="partner-logo"
            />
          </div>
        </div>

        <div class="brand-slide delay">
          <div class="logo-div">
            <img
              alt="boataffair"
              loading="lazy"
              src="@img/partner_logos/boataffair_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="coppergold"
              loading="lazy"
              src="@img/partner_logos/coopers_gold_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="d_aincourt"
              loading="lazy"
              src="@img/partner_logos/d_aincourt_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="satryna"
              loading="lazy"
              src="@img/partner_logos/Satryna-Logo-black.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="chapter7"
              loading="lazy"
              src="@img/partner_logos/chapter7_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="fastclub"
              loading="lazy"
              src="@img/partner_logos/fastclub_logo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="LeMansCoupesBlack"
              loading="lazy"
              src="@img/partner_logos/LeMansCoupesBlackLogo.png"
              class="partner-logo"
            />
          </div>
          <div class="logo-div">
            <img
              alt="yoga"
              loading="lazy"
              src="@img/partner_logos/yoga_logo.png"
              class="partner-logo"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.gradient-effect {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(11%, #000),
    to(transparent)
  );
  background-image: linear-gradient(0deg, #000 11%, transparent);
}

.shape {
  --primary: #f0c000;
  --secondary: #5d6bf8;
  --third: #c73390;
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  rotate: 90;
  height: 110vw;
  width: 110vw;
  margin-left: -6vw;
  transform: rotate(160deg);
  z-index: 5;

  @screen md {
    @apply w-[300vw] h-[300vw] ml-[-70vw];
  }
}

.explore-categories {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;

  @screen xl {
    width: 90%;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  @screen md {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

.text-scroll {
  @apply flex w-screen;

  box-shadow: 0 8px 16px rgba(#0000002e, 0.5);

  div {
    @apply px-2 font-black text-[2.5rem] text-black bg-white uppercase whitespace-nowrap lg:text-[3rem] md:text-[1.5rem];

    animation: text-animate-1 40s -140s linear infinite;
    will-change: transform;

    &:nth-child(2) {
      animation: text-animate-2 40s -120s linear infinite;
    }
  }

  span {
    @apply text-oc-gold mr-4;
  }
}

.brand-wheel {
  flex-direction: row;
  align-items: center;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100%;

  --animationspeed: 45s;
  --animationdelay: calc(var(--animationspeed) / 2);
}

.brand-wheel::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
}
.brand-wheel::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 5%;
  z-index: 2;
  pointer-events: none;
  right: 0;
}

.brand-slide {
  flex-shrink: 0;
  position: absolute;
  animation-name: slidelogo;
  animation-duration: var(--animationspeed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}

.brand-slide.delay {
  transform: translateX(100%);
  animation-name: slidelogo2;
}

// .brand-wheel:hover .brand-slide {
//   animation-play-state: paused;
// }

.logo-div {
  @apply inline-flex w-[240px] self-center px-8;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;

  @screen lg {
    @apply w-[380px];
  }

  @screen md {
    @apply w-[220px];
  }
}

.partner-logo {
  @apply w-full;
}

@keyframes text-animate-1 {
  0% {
    transform: translateX(-99.9%);
  }
  100% {
    transform: translateX(99.9%);
  }
}

@keyframes text-animate-2 {
  0% {
    transform: translateX(-199.9%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(
      45deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidelogo {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slidelogo2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
</style>
