<script setup>
const props = defineProps({
  showSayHi: {
    type: Boolean,
    default: true,
  },
});
</script>

<template>
  <footer class="flex flex-col align-center">
    <h1
      v-if="props.showSayHi"
      class="whitespace-nowrap max-w-[100vw] text-[9vw] text-center font-black leading-[1] title-gradient text-transparent bg-clip-text md:text-[14vw] md:whitespace-normal"
    >
      Join the wave!
    </h1>
    <div class="w-screen mt-[-6%] lg:mt-[-10%] md:mt-[-14%]">
      <svg
        class="waves"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28"
        preserveAspectRatio="none"
        shape-rendering="auto"
      >
        <defs>
          <path
            id="gentle-wave"
            d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
          />
        </defs>
        <g class="parallax">
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="0"
            fill="rgba(255,255,255,0.7"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="3"
            fill="rgba(255,255,255,0.5)"
          />
          <use
            xlink:href="#gentle-wave"
            x="48"
            y="5"
            fill="rgba(255,255,255,0.3)"
          />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>

    <div id="sayhi" class="bg-white w-screen text-black flex flex-col items-center py-10">
      <h2
        v-if="props.showSayHi"
        class="text-[3.5rem] lg:text-[5vw] md:text-[7vw]"
      >
        become a member
      </h2>

      <NuxtLink
        v-if="props.showSayHi"
        to="/contact"
        type="button"
        class="px-4 py-10 mt-10 text-[2.5rem] w-[313px] h-[113px] font-medium text-white leading-[1] bg-oc-purple rounded-full flex items-center justify-center lg:w-[187px] lg:h-[68px] lg:text-[1.5rem]"
      >
        say hi
      </NuxtLink>

      <div
        :class="{
          'w-[40%]': true,
          'lg:w-[80%]': true,
          'mt-44': props.showSayHi,
        }"
      >
        <div
          class="bg-[linear-gradient(90deg,#a13789,#f6a012)] w-full h-[2px] mb-6"
        ></div>

        <div class="w-full flex items-center justify-between">
          <h2
            class="text-[1.75rem] text-center font-semibold leading-[1] lg:text-base"
          >
            STAY IN TOUCH
          </h2>

          <div class="flex gap-1">
            <a
              href="https://www.facebook.com/otiumcircle/"
              target="_blank"
              class="social-wrapper"
            >
              <p v-show="false">Otium Facebook Page</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 384"
                class="w-[40%]"
              >
                <path
                  id="logo-facebook"
                  d="M426.8,64H85.2A21.211,21.211,0,0,0,64,85.2V426.8A21.211,21.211,0,0,0,85.2,448H256V296H210.1V240H256V198.6c0-49.6,34.4-76.6,78.7-76.6,21.2,0,44,1.6,49.3,2.3v51.8H348.7c-24.1,0-28.7,11.4-28.7,28.2V240h57.4l-7.5,56H320V448H426.8A21.211,21.211,0,0,0,448,426.8V85.2A21.211,21.211,0,0,0,426.8,64Z"
                  transform="translate(-64 -64)"
                  fill="#fff"
                />
              </svg>
            </a>
            <a
              href="https://www.instagram.com/otiumcircle/"
              target="_blank"
              class="social-wrapper"
            >
              <p v-show="false">Otium Instagram Page</p>
              <svg
                viewBox="0 0 384 384"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-[40%]"
              >
                <g clip-path="url(#clip0_1553_197)">
                  <path
                    d="M272 32C293.198 32.062 313.511 40.5105 328.5 55.4999C343.49 70.4894 351.938 90.8017 352 112V272C351.938 293.198 343.49 313.511 328.5 328.5C313.511 343.49 293.198 351.938 272 352H112C90.8017 351.938 70.4894 343.49 55.4999 328.5C40.5105 313.511 32.062 293.198 32 272V112C32.062 90.8017 40.5105 70.4894 55.4999 55.4999C70.4894 40.5105 90.8017 32.062 112 32H272ZM272 0H112C50.4 0 0 50.4 0 112V272C0 333.6 50.4 384 112 384H272C333.6 384 384 333.6 384 272V112C384 50.4 333.6 0 272 0Z"
                    fill="white"
                  />
                  <path
                    d="M296 112C291.253 112 286.613 110.592 282.666 107.955C278.72 105.318 275.643 101.57 273.827 97.1844C272.01 92.799 271.535 87.9734 272.461 83.3178C273.387 78.6623 275.673 74.3859 279.029 71.0294C282.386 67.673 286.662 65.3872 291.318 64.4612C295.973 63.5351 300.799 64.0104 305.184 65.8269C309.57 67.6434 313.318 70.7196 315.955 74.6663C318.592 78.6131 320 83.2533 320 88C320.008 91.1539 319.392 94.2782 318.189 97.1935C316.985 100.109 315.218 102.758 312.988 104.988C310.758 107.218 308.109 108.985 305.193 110.189C302.278 111.392 299.154 112.008 296 112ZM192 128C204.658 128 217.032 131.754 227.557 138.786C238.081 145.818 246.284 155.814 251.128 167.508C255.972 179.203 257.24 192.071 254.77 204.486C252.301 216.901 246.205 228.304 237.255 237.255C228.304 246.205 216.901 252.301 204.486 254.77C192.071 257.24 179.203 255.972 167.508 251.128C155.814 246.284 145.818 238.081 138.786 227.557C131.754 217.032 128 204.658 128 192C128.016 175.031 134.764 158.761 146.762 146.762C158.761 134.763 175.031 128.016 192 128ZM192 96C173.013 96 154.452 101.63 138.665 112.179C122.878 122.728 110.574 137.721 103.308 155.262C96.0416 172.804 94.1405 192.107 97.8447 210.729C101.549 229.351 110.692 246.456 124.118 259.882C137.544 273.308 154.649 282.451 173.271 286.155C191.894 289.86 211.196 287.958 228.738 280.692C246.279 273.426 261.272 261.122 271.821 245.335C282.37 229.548 288 210.987 288 192C287.993 166.541 277.877 142.127 259.875 124.125C241.873 106.123 217.459 96.0066 192 96V96Z"
                    fill="white"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1553_197">
                    <rect width="384" height="384" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </div>

        <div
          class="w-full text-[1.125rem] leading-[1] mt-20 md:text-[0.625rem] md:mt-14"
        >
          © 2021 Otium Circle
        </div>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.title-gradient {
  background-image: linear-gradient(45deg, #f5d1ff 20%, #ffcaba 49%, #fff);
}

.social-wrapper {
  @apply bg-black w-[50px] h-[50px] rounded-full flex items-center justify-center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
</style>
