<script setup>
const props = defineProps({
  withNavBar: {
    type: Boolean,
    default: true,
  },
});
</script>

<template>
  <section
    class="absolute inset-x-0 top-0 flex items-center justify-center gap-x-10 py-6 z-[9007199254740991]"
  >
    <NuxtLink to="/">
      <svg
        viewBox="0 0 172 57"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="h-[45px] md:h-[40px]"
      >
        <g clip-path="url(#clip0_1448_202)">
          <path
            d="M33.2149 0H22.205C23.1181 3.03661 24.4295 6.70238 26.655 6.87406H29.6217C30.8767 6.81748 31.3323 8.7645 29.9636 8.7645C27.5108 8.70793 26.9396 9.05129 27.9674 11.3982L29.3934 15.6903C30.1919 18.2684 30.5911 21.2504 30.8194 24.3982C31.0477 27.3772 30.9904 30.8138 30.7048 34.5947C30.8767 35.5701 31.5606 36.0842 32.8156 36.0842H38.407C40.4033 36.0276 40.5179 37.5171 39.087 37.5171H34.128C31.7889 37.6313 31.6179 39.2349 33.3295 39.1208H34.6419C36.2389 39.0632 36.1252 41.0112 34.5273 41.0112H31.3313C29.7917 41.2405 28.8785 42.2715 28.4793 44.0469C27.3389 47.3127 24.4285 51.8954 21.0636 56.7074L32.1871 56.9366C37.4929 56.879 41.8856 52.468 45.0806 42.6149C45.4225 41.5838 46.5066 41.2405 47.4197 41.1254C48.4604 40.9972 49.5102 40.9591 50.5574 41.0112C52.5002 41.0112 52.4399 38.4331 50.5574 39.0057C48.0472 39.8651 47.1914 37.2304 49.9298 37.1728L57.5738 37.4596C61.168 37.6888 61.2817 35.2824 57.6884 35.5691C54.6787 35.9141 51.6432 35.9735 48.6223 35.7467C47.2526 35.4033 46.7397 34.7156 46.7971 33.3978C47.31 24.6333 46.9107 16.2121 43.4311 9.79166C42.9173 8.93228 43.0882 8.58794 43.7158 8.58794L45.1991 8.53137C46.7971 8.41626 46.1122 6.35414 44.6862 6.81261C42.86 7.32765 41.7195 6.6975 40.3498 4.75049C38.5197 2.00554 36.0679 0.114129 33.2149 0Z"
            fill="url(#paint0_linear_1448_202)"
          />
          <path
            d="M31.447 0H15.1274C11.4195 0.229233 6.2876 4.46858 4.63039 9.28052C4.28846 10.6549 5.54351 10.5408 6.8549 11.2851C7.48243 11.8587 7.31146 12.3737 6.6276 12.5454C4.23114 13.1189 2.63416 13.8057 2.63416 14.7802C2.63416 15.9829 4.23114 16.5555 8.10996 16.8423C12.9592 17.0715 19.0062 17.1291 25.4534 17.0715L46.1045 17.2432L51.2957 17.3583C54.0914 17.2432 54.034 14.3217 51.182 14.4319C47.8161 14.8904 42.453 15.2913 35.8931 15.6356C28.933 16.0941 22.2011 15.5781 21.1171 15.2913C19.9766 14.9479 19.7483 13.8018 20.9461 13.4584L22.3158 12.9434C23.5708 12.4849 23.3425 11.4538 22.2011 11.1095C20.9461 10.7086 20.2583 9.96431 21.3453 8.188C24.0876 3.20828 27.4535 0.630146 31.447 0Z"
            fill="url(#paint1_linear_1448_202)"
          />
          <path
            d="M29.1079 28.5283C28.8223 30.1866 28.9369 32.2526 30.9905 32.2526C32.8157 32.2526 33.8425 30.648 34.1854 28.5283C34.47 26.753 34.1281 24.8625 32.2426 24.9191C30.3056 24.9201 29.3935 26.9246 29.1079 28.5283ZM38.4635 28.5283C37.665 32.9393 34.2427 35.4599 30.4202 35.4599C26.3695 35.4599 24.0877 32.9393 24.8298 28.4717C25.571 24.4041 28.7659 21.7118 32.8157 21.7118C37.4367 21.7693 39.0346 25.0918 38.4635 28.5283Z"
            fill="white"
          />
          <path
            d="M40.8598 22.1127H52.7828L52.1553 25.5502H48.3309L46.6212 35.1741H42.347L44.0567 25.5502H40.2323L40.8598 22.1127Z"
            fill="white"
          />
          <path
            d="M52.3837 35.1165L54.6655 22.0551H58.9397L56.6569 35.1165H52.3837Z"
            fill="white"
          />
          <path
            d="M61.5683 22.1127H65.8473L64.4776 29.9037C64.2494 31.164 64.3067 32.3092 66.0746 32.3092C67.6153 32.3092 68.2428 31.3337 68.4711 29.9037L69.8398 22.1127H74.1188L72.8103 29.5028C72.0692 33.6846 69.8437 35.5175 65.5083 35.5175C61.4585 35.5175 59.5186 33.9704 60.3171 29.5028L61.5683 22.1127Z"
            fill="white"
          />
          <path
            d="M74.176 35.1166L76.4579 22.0551H81.5917L82.4475 30.1895L86.1554 22.0551H91.2903L89.0084 35.1166H85.1859L85.8708 31.1064L86.27 29.1019L86.8956 26.753H86.8383L83.0158 35.1166H80.0521L79.1389 26.753H79.0816L78.9107 28.7039L78.6251 30.7085L77.8266 35.1195L74.176 35.1166Z"
            fill="white"
          />
          <path
            d="M106.865 27.0963C106.978 25.7219 106.237 24.9767 104.922 24.9767C103.439 24.9767 102.299 26.2369 101.842 28.7575C101.499 30.5914 101.613 32.3092 103.784 32.3092C105.154 32.3092 105.953 31.3337 106.352 30.0754H110.459C109.488 33.4553 106.751 35.4599 103.328 35.4599C99.0537 35.4599 96.8817 32.8262 97.6238 28.5858C98.366 24.3455 101.674 21.7118 105.325 21.7118C109.319 21.7118 111.144 23.6627 110.916 27.0388H106.866L106.865 27.0963Z"
            fill="white"
          />
          <path
            d="M111.542 35.1165L113.824 22.0551H118.098L115.816 35.1165H111.542Z"
            fill="white"
          />
          <path
            d="M123.809 27.7265H125.46C126.772 27.7265 127.514 27.3831 127.685 26.4662C127.856 25.5492 127.228 25.0917 126.202 25.0917H124.207L123.809 27.7265ZM123.295 30.5914L122.497 35.1165H118.222L120.504 22.0551H126.666C131.001 22.0551 132.203 23.2579 131.743 25.7785C131.458 27.268 130.602 28.5283 129.005 28.9868C130.26 29.5028 131.059 29.8461 130.602 32.4243C130.316 34.143 130.145 34.7156 130.659 34.7156L130.602 35.1165H126.267C126.209 34.8298 126.267 33.9704 126.438 32.8252C126.723 31.1064 126.551 30.5338 124.555 30.5338H123.294L123.295 30.5914Z"
            fill="white"
          />
          <path
            d="M141.949 27.0963C142.063 25.7219 141.321 24.9767 140.006 24.9767C138.523 24.9767 137.383 26.2369 136.926 28.7575C136.583 30.5914 136.698 32.3092 138.869 32.3092C140.237 32.3092 141.036 31.3337 141.435 30.0754H145.543C144.572 33.4553 141.834 35.4599 138.412 35.4599C134.138 35.4599 131.966 32.8262 132.707 28.5858C133.448 24.3455 136.758 21.7118 140.408 21.7118C144.402 21.7118 146.227 23.6627 145.999 27.0388H141.949V27.0963Z"
            fill="white"
          />
          <path
            d="M146.626 35.1165L148.909 22.0551H153.183L151.415 32.0799H157.234L156.72 35.1165H146.626Z"
            fill="white"
          />
          <path
            d="M158.607 35.1165L160.888 22.0551H171.505L170.991 25.0917H164.658L164.317 26.9822H169.679L169.166 30.0178H163.803L163.461 32.0799H170.022L169.508 35.1165H158.607Z"
            fill="white"
          />
          <path
            d="M8.91334 19.7062L27.3399 19.3053C29.6781 19.3053 29.6781 21.5967 27.3399 21.5967H21.1229C17.9853 21.7693 17.6433 24.7474 20.3817 24.805H27.0572C29 24.805 31.1643 24.6333 33.4461 24.4616C36.1845 24.3465 36.2991 27.0388 33.5608 27.1539C30.9933 27.268 28.3152 26.8671 25.5739 26.753C23.1211 26.6954 20.8956 26.753 19.2986 27.268C17.416 27.9508 16.7885 29.0443 16.9022 30.4187C17.416 36.5485 18.2145 42.3915 20.3254 46.5733C21.0675 47.7771 22.4362 48.2921 24.4898 48.178L29.1681 48.0629C30.2522 48.0629 30.4804 49.1515 29.339 49.3231L28.1413 49.4383C27.1699 49.5524 27.2282 50.4693 28.2549 50.5269C29.7142 50.6986 31.1884 50.6986 32.6476 50.5269C34.5904 50.0684 36.2418 49.844 36.2991 50.9278C36.3555 51.6721 35.9562 51.9588 35.2151 51.8437C30.4804 51.6145 27.7984 51.7296 26.487 51.9588C24.2052 52.4739 24.3761 53.104 25.8022 54.4794C27.3408 55.879 29.2769 56.7603 31.3392 57H14.903C10.3967 55.7973 7.03464 52.7607 7.82925 51.7325C8.05753 51.4458 10.6813 51.675 13.5343 51.6174C15.9871 51.5609 14.5611 48.7535 12.4502 49.6665C10.7386 50.3493 9.54086 50.125 8.68506 48.8647C8.28581 48.2345 7.25904 47.9478 6.40323 47.8892C4.75185 47.5459 3.55022 46.0563 2.80904 43.1924C1.49667 38.4946 0.527214 33.7968 0.866233 28.7556C0.923546 27.7245 1.72204 27.0368 2.80904 27.0368L6.74516 27.0944C9.14162 27.0944 9.14162 24.6313 6.74516 24.803C4.86259 24.9747 3.15097 25.0323 1.95323 24.8606C-0.385905 24.4021 0.301849 21.5382 2.58076 21.5947C5.66108 21.941 7.37269 19.7638 8.91334 19.7062Z"
            fill="url(#paint2_linear_1448_202)"
          />
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_1448_202"
            x1="20.9547"
            y1="28.6344"
            x2="60.2367"
            y2="28.6344"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FAEE4E" />
            <stop offset="0.04" stop-color="#F9E344" />
            <stop offset="0.1" stop-color="#FCD53D" />
            <stop offset="0.19" stop-color="#FBC93B" />
            <stop offset="0.28" stop-color="#FDC63A" />
            <stop offset="0.51" stop-color="#F6A840" />
            <stop offset="0.66" stop-color="#F1944A" />
            <stop offset="0.67" stop-color="#F1934B" />
            <stop offset="0.88" stop-color="#EB7149" />
            <stop offset="0.89" stop-color="#EB7049" />
            <stop offset="1" stop-color="#E74B47" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_1448_202"
            x1="27.8878"
            y1="17.1887"
            x2="27.8878"
            y2="-0.172383"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#C73390" />
            <stop offset="0.4" stop-color="#C73390" />
            <stop offset="0.57" stop-color="#933886" />
            <stop offset="0.77" stop-color="#633B79" />
            <stop offset="0.83" stop-color="#573B76" />
            <stop offset="0.92" stop-color="#463C76" />
            <stop offset="1" stop-color="#3E3B74" />
          </linearGradient>
          <linearGradient
            id="paint2_linear_1448_202"
            x1="18.6112"
            y1="19.6088"
            x2="18.6112"
            y2="57.3383"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#C73390" />
            <stop offset="0.4" stop-color="#C73390" />
            <stop offset="0.57" stop-color="#933886" />
            <stop offset="0.77" stop-color="#633B79" />
            <stop offset="0.83" stop-color="#573B76" />
            <stop offset="0.92" stop-color="#463C76" />
            <stop offset="1" stop-color="#3E3B74" />
          </linearGradient>
          <clipPath id="clip0_1448_202">
            <rect
              width="171"
              height="57"
              fill="white"
              transform="translate(0.5)"
            />
          </clipPath>
        </defs>
      </svg>
    </NuxtLink>

    <Navbar v-if="props.withNavBar" />
  </section>
</template>
