<script setup>
import Player from "@vimeo/player";
import Typed from "typed.js";
import { get, set } from "@vueuse/core";

const videoID = ref("691254441");
const isPlayerReady = ref(false);
const isMute = ref(false);

var typedOptions = {
  strings: ["world", "circle", "community‌"],
  typeSpeed: 200,
  backSpeed: 100,
  bindInputFocusEvents: true,
  loop: true,
  backDelay: 2000,
  startDelay: 1000,
};

let player;
let muteVideo;
let restartVideo;
let mute;
let unmute;
let typed;

const initPlayer = () => {
  player = new Player("introVid", {
    autoplay: true,
    loop: true,
    autopause: false,
    background: true,
    controls: false,
    title: false,
    byline: false,
    responsive: true,
  });

  mute = () => player.setVolume(0);
  unmute = (volume = 0.5) => player.setVolume(volume);
};

const initTyped = () => {
  typed = new Typed("#typing", typedOptions);
};

onMounted(() => {
  initPlayer();

  player.on("loaded", () => {
    set(isPlayerReady, true);
    player.play();
    player.setVolume(0);
  });

  player.on("error", (e) => {
    player.loadVideo(get(videoID));
  });

  muteVideo = () => {
    if (get(isPlayerReady)) {
      set(isMute, !get(isMute));
      get(isMute) ? unmute() : mute();
    }
  };

  restartVideo = () => {
    if (get(isPlayerReady)) {
      player.loadVideo(get(videoID));
    }
  };

  initTyped();
});

onUnmounted(() => {
  typed.destroy();
});
</script>

<template>
  <section class="w-full min-h-screen overflow-x-clip relative">
    <img
      id="glayer1"
      src="@img/gradient_circle_1.png"
      loading="lazy"
      sizes="100vw"
      alt="gradient-circle"
      class="absolute inset-0 max-w-[200%] w-full min-h-screen object-cover mt-[-17%] lg:ml-[-11vw] lg:w-[120vw]"
    />

    <img
      id="gLayer2"
      src="@img/orbit.svg"
      loading="lazy"
      alt="orbhit"
      class="absolute max-w-[200%] w-full min-h-screen lg:ml-[-13vw] lg:w-[140vw]"
    />

    <img
      id="gLayer3"
      src="@img/circles.svg"
      loading="lazy"
      alt="circles"
      class="absolute max-w-[200%] w-full min-h-screen lg:w-[160vw] md:ml-[-13vw]"
    />

    <div
      id="heroContent"
      class="z-10 w-full min-h-screen pt-40 gap-6 flex flex-col items-center md:pt-32 sm:pt-28"
    >
      <!-- Vimeo Video -->
      <div
        id="videoContainer"
        class="w-6/12 h-auto overflow-hidden bg-[#050505] rounded-3xl drop-shadow-2xl xl:w-[70%] lg:w-[90%] md:rounded-xl"
      >
        <div
          id="introVid"
          :data-vimeo-id="videoID"
          :data-vimeo-autoplay="true"
          :data-vimeo-loop="true"
          :data-vimeo-autopause="false"
          :data-vimeo-responsive="true"
          :data-vimeo-byline="false"
          :data-vimeo-title="false"
          :data-vimeo-controls="false"
          :data-vimeo-background="true"
          class="w-full"
        ></div>

        <div
          class="bg-black/30 text-white px-4 py-2 rounded-lg absolute bottom-2 right-2 cursor-pointer drop-shadow-2xl md:bottom-2"
          @click="muteVideo"
        >
          <svg
            v-if="isMute"
            width="24"
            height="24"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 14V10C2 9.44772 2.44772 9 3 9H5.69722C5.89465 9 6.08766 8.94156 6.25192 8.83205L10.4453 6.03647C11.1099 5.59343 12 6.06982 12 6.86852V17.1315C12 17.9302 11.1099 18.4066 10.4453 17.9635L6.25192 15.1679C6.08766 15.0584 5.89465 15 5.69722 15H3C2.44772 15 2 14.5523 2 14Z"
              stroke="currentColor"
              stroke-width="1.5"
            />
            <path
              d="M16.5 7.5C16.5 7.5 18 9 18 11.5C18 14 16.5 15.5 16.5 15.5"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M19.5 4.5C19.5 4.5 22 7 22 11.5C22 16 19.5 18.5 19.5 18.5"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <svg
            v-else
            width="24"
            height="24"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17 14L19.0005 12M21 10L19.0005 12M19.0005 12L17 10M19.0005 12L21 14"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3 14V10C3 9.44772 3.44772 9 4 9H6.69722C6.89465 9 7.08766 8.94156 7.25192 8.83205L11.4453 6.03647C12.1099 5.59343 13 6.06982 13 6.86852V17.1315C13 17.9302 12.1099 18.4066 11.4453 17.9635L7.25192 15.1679C7.08766 15.0584 6.89465 15 6.69722 15H4C3.44772 15 3 14.5523 3 14Z"
              stroke="currentColor"
              stroke-width="1.5"
            />
          </svg>
        </div>

        <div
          class="bg-black/30 text-white px-4 py-2 rounded-lg absolute bottom-2 left-2 cursor-pointer drop-shadow-2xl md:bottom-2"
          @click="restartVideo"
        >
          <svg
            width="24"
            height="24"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1735_6488)">
              <path
                d="M6.67742 20.5673C2.53141 18.0212 0.758026 12.7584 2.71678 8.1439C4.87472 3.0601 10.7453 0.68822 15.8291 2.84617C20.9129 5.00412 23.2848 10.8747 21.1269 15.9585C20.2837 17.945 18.8736 19.5174 17.1651 20.5673"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17 16V20.4C17 20.7314 17.2686 21 17.6 21H22"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 22.01L12.01 21.9989"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_1735_6488">
                <rect width="24" height="24" stroke-width="1.5" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>

      <!-- Hero Title -->
      <span
        class="relative mt-[-80px] text-center text-[8rem] leading-[1] font-extrabold title-gradient text-transparent bg-clip-text lg:text-[14vw] md:mt-[-60px] sm:mt-[-46px]"
      >
        otium
      </span>

      <div
        class="relative mt-[-2%] text-center text-[8rem] text-oc-gold leading-[1] font-extrabold lg:text-[14vw] md:mt-[-5%]"
      >
        <span id="typing"></span>
      </div>

      <p
        class="relative text-center text-[1.75rem] font-medium leading-[1.8] w-1/2 xl:w-4/5 md:w-[90%] md:text-[1.2rem]"
      >
        ‌‌As the digital world advances, you will need to meet people virtually
        and physically. Engage with your new business relationships at our
        events worldwide. Leverage the strength of Otium Circle's vetted global
        network of boutique luxury brands.
      </p>

      <div class="extra-wrapper">
        <div class="gradient-border" id="info-box">
          Long-lasting connections and mutually beneficial strategic
          partnerships lead to success. Gain unexpected next-level customers by
          forming cross-industry, multinational collaborations with the
          businesses that align with you most.
        </div>

        <div class="gradient-border" id="info-box">
          Strong networks are diverse and require the right behaviours. Impress
          and delight us so we can introduce you to our expanding community of
          decision makers. Apply via the 'say hi' button below.
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.title-gradient {
  background-image: linear-gradient(45deg, #f5d1ff 20%, #ffcaba 49%, #fff);
}

.typed-element {
  display: flex;
  align-items: center;
  .typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
  }
}

.extra-wrapper {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin-top: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;

  @screen lg {
    width: 90%;
    grid-column-gap: 40px;
  }

  @screen md {
    margin-top: 20px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

#info-box {
  @apply w-full p-8 font-medium rounded-3xl text-center text-[1.2rem] leading-[1.8];
}
.gradient-border {
  --borderWidth: 1px;
  background: #000000;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #930bfd,
    #b049ff
  );
  border-radius: 1.5rem;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
</style>
