<script setup></script>

<template>
  <section
    class="h-[52px] flex items-center justify-center gap-x-4 px-4 py-2 font-medium rounded-full border-[1.5px] border-oc-gold md:hidden"
  >
    <a href="#explore" class="nav-items">community</a>
    <a href="#benefits" class="nav-items">benefits</a>
    <a href="#sayhi" class="nav-items">apply</a>
  </section>
</template>

<style lang="scss">
.nav-items {
  @apply cursor-pointer;

  &:hover {
    @apply underline;
  }
}
</style>
