<script setup>
const props = defineProps({
  partnerLogoUrl: { type: String, default: "" },
  partnerLogoAlt: { type: String, default: "" },
  partnerCoverUrl: { type: String, default: "" },
  partnerCoverAlt: { type: String, default: "" },
  partnerDecription: {
    type: Object,
    default: {
      content: [{ content: [{ text: "", type: "text" }] }],
      type: "doc",
    },
  },
  partnerBusLink: { type: String, default: "" },
});

const articleContent = computed(() => renderRichText(props.partnerDecription));
</script>

<template>
  <div class="w-full flex flex-col items-start justify-start mb-20">
    <img
      :src="partnerLogoUrl"
      loading="lazy"
      :alt="partnerLogoAlt"
      class="w-[40%] mr-[4.5vh] my-[2.5vh] shrink-0 mb-6"
    />

    <img
      :src="partnerCoverUrl"
      loading="lazy"
      :alt="partnerCoverAlt"
      class="w-full h-[30vh] object-cover mb-6"
    />

    <div v-html="articleContent" class="w-full leading-[1.6] mb-6"></div>

    <a
      v-if="partnerBusLink ? true : false"
      :href="partnerBusLink"
      class="rounded-full py-3 px-9 bg-white text-black font-semibold"
      >visit</a
    >
  </div>
</template>
