<script setup></script>

<template>
  <section class="relative w-full overflow-x-clip">
    <div class="relative z-20 w-full flex flex-col items-center pb-40 md:pb-20">
      <div
        class="relative px-14 py-4 font-bold text-[5rem] text-center rounded-[29px] border-[4px] border-oc-gold lg:text-[9vw] lg:rounded-[4vw] md:text-[9vw] md:rounded-[5vw] md:px-7 md:py-2 md:border-[2px]"
      >
        MEET OUR TEAM
      </div>

      <div
        data-delay="1"
        data-animation="slide"
        data-autoplay="1"
        data-easing="ease-out-quad"
        data-autoplay-limit="1"
        data-duration="900"
        data-infinite="1"
        class="oc-team-slider w-slider mt-28 lg:w-screen md:w-[90vw] md:mt-14"
        role="region"
        aria-label="carousel"
      >
        <div id="w-slider-mask-0" class="oc-team-slide-mask w-slider-mask">
          <div
            class="oc-team-slide w-slide"
            aria-label="1 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image teo"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Teodor<br /><span class="text-oc-gold">Toshkin</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Customer and Community Lead
                  </div>
                </div>
              </div>
              <div class="oc-clip-text" aria-hidden="true">
                <a
                  href="mailto:teo@otiumcircle.com"
                  class="oc-email-button w-inline-block"
                  style="
                    opacity: 0;
                    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 5deg);
                    transform-style: preserve-3d;
                  "
                  tabindex="-1"
                  aria-hidden="true"
                  ><div aria-hidden="true">Email</div></a
                >
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="2 of 7"
            role="group"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
            >
              <div class="oc-slide-image">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.5, 1.5, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 0;
                  "
                  class="oc-team-image-cover"
                ></div>
                <div
                  class="oc-team-image pascal"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                ></div>
              </div>
              <div class="oc-team-info">
                <div class="oc-clip-text oc-team-headding">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 1;
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
                  >
                    Pascal<br /><span class="text-oc-gold">Pieper</span>
                  </h1>
                </div>
                <div class="oc-clip-text">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 1;
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
                  >
                    Head of Customers
                  </div>
                </div>
              </div>
              <div class="oc-clip-text">
                <a
                  href="mailto:pascal@otiumcircle.com"
                  class="oc-email-button w-inline-block"
                  style="
                    opacity: 1;
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  ><div>EMAIL</div></a
                >
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="3 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image z"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Lachezar<br /><span class="text-oc-gold">Stamatov</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Design Lead
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="4 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image will"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    William<br /><span class="text-oc-gold">Hornsby</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Automation Lead
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="5 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image joseph"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Joseph<br /><span class="text-oc-gold">Dalughut</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    App Developer Lead
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="6 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image stuard"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Stuart<br /><span class="text-oc-gold">Hodgson</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Head of Tech
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="oc-team-slide w-slide"
            aria-label="7 of 7"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="oc-slide-image" aria-hidden="true">
                <div
                  style="
                    display: none;
                    transform: translate3d(0px, 0px, 0px) scale3d(1.02, 1.02, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    opacity: 1;
                  "
                  class="oc-team-image-cover"
                  aria-hidden="true"
                ></div>
                <div
                  class="oc-team-image jay"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1.3, 1.3, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                  aria-hidden="true"
                ></div>
              </div>
              <div class="oc-team-info" aria-hidden="true">
                <div class="oc-clip-text oc-team-headding" aria-hidden="true">
                  <h1
                    class="oc-member-name"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Japheth S.<br /><span class="text-oc-gold">La'ah</span>
                  </h1>
                </div>
                <div class="oc-clip-text" aria-hidden="true">
                  <div
                    class="oc-body-display large"
                    style="
                      opacity: 0;
                      transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 5deg);
                      transform-style: preserve-3d;
                    "
                    aria-hidden="true"
                  >
                    Front-end Developer
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            aria-live="off"
            aria-atomic="true"
            class="w-slider-aria-label"
            data-wf-ignore=""
          >
            Slide 2 of 7.
          </div>
        </div>

        <div
          class="oc-team-arrow left w-slider-arrow-left"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            background-color: rgb(30, 32, 41);
          "
          role="button"
          tabindex="0"
          aria-controls="w-slider-mask-0"
          aria-label="previous slide"
        >
          <img
            src="@icons/arrow-left-light(24x24)@2x.svg"
            loading="lazy"
            alt=""
            class="slide-arrow"
            style="filter: invert(0%)"
          />
        </div>
        <div
          class="oc-team-arrow w-slider-arrow-right"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            background-color: rgb(30, 32, 41);
          "
          role="button"
          tabindex="0"
          aria-controls="w-slider-mask-0"
          aria-label="next slide"
        >
          <img
            src="@icons/arrow-right-light(24x24)@2x.svg"
            loading="lazy"
            alt=""
            class="slide-arrow"
            style="filter: invert(0%)"
          />
        </div>
        <div class="oc-slide-nav w-slider-nav w-round">
          <div
            class="w-slider-dot"
            data-wf-ignore=""
            aria-label="Show slide 1 of 3"
            aria-selected="false"
            role="button"
            tabindex="-1"
          ></div>
          <div
            class="w-slider-dot w-active"
            data-wf-ignore=""
            aria-label="Show slide 2 of 3"
            aria-selected="true"
            role="button"
            tabindex="0"
          ></div>
          <div
            class="w-slider-dot"
            data-wf-ignore=""
            aria-label="Show slide 3 of 3"
            aria-selected="false"
            role="button"
            tabindex="-1"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped></style>
