<script setup>
onMounted(() => {
  const FRONT_LIB = document.createElement("script");
  FRONT_LIB.setAttribute("src", "/js/frontlib.js");
  document.body.appendChild(FRONT_LIB);
});
</script>

<template>
  <section class="relative w-full overflow-x-clip">
    <div class="relative z-20 w-full flex flex-col items-center pb-40 md:pb-20">
      <div
        class="relative px-14 py-4 font-bold text-[5rem] text-center rounded-[29px] border-[4px] border-oc-purple lg:text-[9vw] lg:rounded-[4vw] md:text-[9vw] md:rounded-[5vw] md:px-7 md:py-2 md:border-[2px]"
      >
        TESTIMONIALS
      </div>

      <div
        data-delay="1"
        data-animation="slide"
        data-autoplay="1"
        data-easing="ease-out-quad"
        data-autoplay-limit="1"
        data-duration="900"
        data-infinite="1"
        class="oc-team-slider w-slider mt-28 lg:w-screen md:w-[90vw] md:mt-14"
        role="region"
        aria-label="carousel"
      >
        <div
          id="w-slider-mask-0"
          class="oc-team-slide-mask w-slider-mask mb-8 w-[360px] md:w-full"
        >
          <div
            class="oc-team-slide w-slide w-full"
            aria-label="1 of 3"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="w-full py-6 flex flex-col items-center text-white">
                <div
                  class="w-full h-[420px] bg-slate-300 rounded-xl bg-center bg-no-repeat bg-cover bg-[url('@img/chronofactum_testimonial_cover.png')]"
                ></div>
                <div class="w-full flex items-center justify-center mt-[-30%]">
                  <img
                    src="@img/chronofactum_watch.png"
                    loading="lazy"
                    alt=""
                    class="w-[90%]"
                  />
                </div>

                <h3 class="w-full mt-4 text-[1.5rem] font-bold">
                  CHRONOFACTUM
                </h3>
                <p class="leading-[1.5] mt-2">
                  "This network only gets better with time. As more and more
                  businesses have joined the network more cross sales and
                  revenue is generated for everyone. My sales have increased
                  because of Otium Circle and I am very excited about the
                  prospect of what I will gain from the network in the future as
                  even more businesses join."
                </p>
              </div>
            </div>
          </div>

          <div
            class="oc-team-slide w-slide w-full"
            aria-label="2 of 3"
            role="group"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
            >
              <div class="w-full py-6 flex flex-col items-center text-white">
                <div
                  class="w-full h-[420px] bg-slate-300 rounded-xl bg-center bg-no-repeat bg-cover bg-[url('@img/en_cottage_testimonial_cover.png')]"
                ></div>
                <div class="w-full flex items-center justify-center mt-[-40%]">
                  <img
                    src="@img/en_cottage_cottage.png"
                    loading="lazy"
                    alt=""
                    class="w-[90%]"
                  />
                </div>

                <h3 class="w-full mt-4 text-[1.5rem] font-bold">
                  ENGLISH COTTAGE VACATION
                </h3>
                <p class="leading-[1.5] mt-2">
                  "I have met some really interesting and talented people at the
                  regular networking events. It gives me confidence in the world
                  of luxury seeing small businesses succeeding. Pascal and Teo
                  are great in keeping the network motivated, focused and
                  engaged."
                </p>
              </div>
            </div>
          </div>

          <div
            class="oc-team-slide w-slide w-full"
            aria-label="3 of 3"
            role="group"
            aria-hidden="true"
            style="transform: translateX(-303.75px); opacity: 1"
          >
            <div
              class="oc-team-slide-content"
              style="
                transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
              aria-hidden="true"
            >
              <div class="w-full py-6 flex flex-col items-center text-white">
                <div
                  class="w-full h-[420px] bg-slate-300 rounded-xl bg-center bg-no-repeat bg-cover bg-[url('@img/pancho_cover.png')]"
                ></div>
                <div class="w-full flex items-center justify-center mt-[-40%]">
                  <img
                    src="@img/pancho_bottle.png"
                    loading="lazy"
                    alt=""
                    class="w-[40%]"
                  />
                </div>

                <h3 class="w-full mt-4 text-[1.5rem] font-bold">
                  PANCHO DATOS
                </h3>
                <p class="leading-[1.5] mt-2">
                  "We have met proactive and collaborator people from leading
                  premium spirit brands and lifestyle companies. These
                  partnerships have meant that we have been able to grow, and
                  find new distributor partners, which has ultimately led to us
                  increasing our sales"
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="oc-team-arrow left w-slider-arrow-left"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            background-color: rgb(30, 32, 41);
          "
          role="button"
          tabindex="0"
          aria-controls="w-slider-mask-0"
          aria-label="previous slide"
        >
          <img
            src="@icons/arrow-left-light(24x24)@2x.svg"
            loading="lazy"
            alt=""
            class="slide-arrow"
            style="filter: invert(0%)"
          />
        </div>
        <div
          class="oc-team-arrow w-slider-arrow-right"
          style="
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
              rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            background-color: rgb(30, 32, 41);
          "
          role="button"
          tabindex="0"
          aria-controls="w-slider-mask-0"
          aria-label="next slide"
        >
          <img
            src="@icons/arrow-right-light(24x24)@2x.svg"
            loading="lazy"
            alt=""
            class="slide-arrow"
            style="filter: invert(0%)"
          />
        </div>
        <div class="oc-slide-nav w-slider-nav w-round">
          <div
            class="w-slider-dot"
            data-wf-ignore=""
            aria-label="Show slide 1 of 3"
            aria-selected="false"
            role="button"
            tabindex="-1"
          ></div>
          <div
            class="w-slider-dot w-active"
            data-wf-ignore=""
            aria-label="Show slide 2 of 3"
            aria-selected="true"
            role="button"
            tabindex="0"
          ></div>
          <div
            class="w-slider-dot"
            data-wf-ignore=""
            aria-label="Show slide 3 of 3"
            aria-selected="false"
            role="button"
            tabindex="-1"
          ></div>
        </div>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.carousel__item {
  --vp-c-green: #42b883;
  min-height: 200px;
  width: 100%;
  background-color: var(--vp-c-green);
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  @apply w-[360px];
  padding: 5px;
}
</style>
