<script setup>
const name = ref("");
const message = ref("");

const sendMessage = () => {};
const mailTo = (name, message) => {
  return (
    "mailto:pascal@otiumcircle.com?subject=Otium Circle website enquiry&body=Hi Pascal,%0D%0A %0D%0A" +
    message +
    "%0D%0A %0D%0A %0D%0A %0D%0A" +
    "Regards,%0D%0A" +
    name
  );
};
</script>

<template>
  <div
    class="w-[100vw] flex flex-col items-center pt-16 max-w-[1920px] min-h-screen bg-black text-white"
  >
    <LazyHeader :with-nav-bar="false" />

    <span class="text-[18vw] font-semibold mt-5 lg:text-[24vw] md:mt-0"
      >Say hi!</span
    >

    <div
      class="flex items-start justify-between w-[80%] md:w-[90%] md:flex-col"
    >
      <img
        src="@img/oc-cc-2.png"
        loading="lazy"
        alt=""
        class="mt-[-6%] w-[44%] lg:w-[38%] md:w-full"
      />

      <div
        class="flex flex-col items-start mt-16 ml-10 w-[50%] lg:grow md:ml-0 md:w-full"
      >
        <span class="font-light text-[2.6rem]">Contact us</span>
        <p class="leading-[1.5] my-6 w-[70%] lg:w-full">
          For questions on what Otium Circle is, the benefits we give to our
          Partners (what we call our members), how to become a Partner or just
          to say hi, please send us a message here or download our app (links
          below).
        </p>

        <form
          id="contactForm"
          name="contactForm"
          class="w-full"
          method="post"
          @submit.prevent="sendMessage()"
        >
          <input
            id="name"
            v-model="name"
            type="text"
            class="w-full h-14 rounded-lg bg-black text-white outline-none border border-[#303030] my-2 px-6"
            placeholder="Enter name"
            autofocus
          />

          <textarea
            id="cMessage"
            v-model="message"
            name="cMessage"
            rows="16"
            cols="50"
            placeholder="Message"
            class="w-full rounded-lg bg-black text-white outline-none border border-[#303030] my-2 px-6 py-4"
          ></textarea>

          <a
            :href="mailTo(name, message)"
            class="oc-email-button w-inline-block mt-3 hover:bg-white hover:text-black"
          >
            send message (opens email app)
          </a>
        </form>
      </div>
    </div>

    <svg
      viewBox="0 0 1086 129"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="mt-16 w-[54%] lg:w-[74%] md:w-[90%]"
    >
      <line
        x1="0.0585799"
        y1="0.503444"
        x2="1085.06"
        y2="128.503"
        stroke="url(#paint0_linear_620_60)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_620_60"
          x1="1085"
          y1="129"
          x2="0"
          y2="1"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#A13789" />
          <stop offset="1" stop-color="#F6A012" />
        </linearGradient>
      </defs>
    </svg>

    <div class="flex flex-col items-start mt-10 w-[50%] lg:w-[66%] md:w-[90%]">
      <span class="mb-5 text-[4rem] leading-[1.2] md:text-[3.2rem]"
        >Say hi from the Otium Circle app</span
      >

      <div class="w-full flex items-center mt-4">
        <a
          href="https://play.google.com/store/apps/details?id=com.otiumcircle.android"
          onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'google-play_top'});"
          target="_blank"
          class="py-4 px-8 w-[335px] h-[110px] flex items-center justify-center rounded-3xl border border-white cursor-pointer mr-5 hover:bg-[#161616] lg:h-[90px] md:h-[60px] md:px-6 md:rounded-xl md:w-full md:mr-2"
        >
          <img
            src="@icons/android.png"
            loading="lazy"
            alt="android"
            class="mr-6 md:w-[30px] md:mr-3"
          />
          <div class="oc-store-name text-3xl md:text-lg">Android</div>
        </a>

        <a
          href="https://itunes.apple.com/gb/app/simpleinapps/id1358702776?mt=8"
          onclick="gtag('event', 'click', {'event_category': 'app_link', 'event_label': 'app-store_top'});"
          target="_blank"
          class="py-4 px-8 w-[335px] h-[110px] flex items-center justify-center rounded-3xl border border-white cursor-pointer ml-5 hover:bg-[#161616] lg:h-[90px] md:h-[60px] md:px-6 md:rounded-xl md:w-full md:ml-2"
        >
          <img
            src="@icons/apple.png"
            loading="lazy"
            alt="apple"
            class="mr-6 md:w-[24px] md:mr-3"
          />
          <div class="oc-store-name text-3xl md:text-lg">iOS</div>
        </a>
      </div>
    </div>

    <LazyFooter :show-say-hi="false" class="mt-52" />
  </div>
</template>
