<script setup>
useHead({
  htmlAttrs: {
    "data-wf-page": "636e4037c3c48137aa17fe16",
    "data-wf-site": "636e4037c3c48120c217fe15",
  },
});
</script>

<template>
  <div id="page" class="container">
    <LazyHeader />
    <LazyHero />
    <LazyBenefits />
    <LazyExplore />
    <LazyTestimonials />
    <LazyTeam />
    <LazyFooter />
  </div>
</template>
