body {
    /*
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji"; */
    transition: background-color 0.6s;

    @apply bg-black text-white;

    @apply antialiased;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.container {
    @apply w-full max-w-[1920px] min-h-screen relative flex flex-col gap-4 items-center;
}

.w-slider {
    position: relative;
    height: 300px;
    text-align: center;
    background: #dddddd;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
.w-slider-mask {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
}
.w-slide {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    white-space: normal;
    text-align: left;
}
.w-slider-nav {
    position: absolute;
    z-index: 2;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
.w-slider-nav.w-round > div {
    border-radius: 100%;
}
.w-slider-nav.w-num > div {
    width: auto;
    height: auto;
    padding: 0.2em 0.5em;
    font-size: inherit;
    line-height: inherit;
}
.w-slider-nav.w-shadow > div {
    box-shadow: 0 0 3px rgba(51, 51, 51, 0.4);
}
.w-slider-nav-invert {
    color: #fff;
}
.w-slider-nav-invert > div {
    background-color: rgba(34, 34, 34, 0.4);
}
.w-slider-nav-invert > div.w-active {
    background-color: #222;
}
.w-slider-dot {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin: 0 3px 0.5em;
    transition: background-color 100ms, color 100ms;
}
.w-slider-dot.w-active {
    background-color: #fff;
}
.w-slider-dot:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff;
}
.w-slider-dot:focus.w-active {
    box-shadow: none;
}
.w-slider-arrow-left,
.w-slider-arrow-right {
    position: absolute;
    width: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    color: white;
    font-size: 40px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w-slider-arrow-left [class^="w-icon-"],
.w-slider-arrow-right [class^="w-icon-"],
.w-slider-arrow-left [class*=" w-icon-"],
.w-slider-arrow-right [class*=" w-icon-"] {
    position: absolute;
}
.w-slider-arrow-left:focus,
.w-slider-arrow-right:focus {
    outline: 0;
}
.w-slider-arrow-left {
    z-index: 3;
    right: auto;
}
.w-slider-arrow-right {
    z-index: 4;
    left: auto;
}
.w-icon-slider-left,
.w-icon-slider-right {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1em;
    height: 1em;
}
.w-slider-aria-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.w-slider-force-show {
    display: block !important;
}

.oc-member-name {
    @apply font-bold;
    position: relative;
    z-index: 10;
    color: #fff;
    font-size: 64px;
    line-height: 70px;
}

.oc-team-slide-mask {
    overflow: visible;
    width: 33.33%;
}

.oc-slide-image {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 55vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.oc-team-info {
    max-width: 500px;
    margin-bottom: 20px;
}

.oc-clip-text {
    overflow: hidden;
}

.oc-clip-text.oc-team-headding {
    margin-top: -57px;
}

.oc-team-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: transparent;
}

.oc-team-arrow {
    left: auto;
    top: auto;
    right: 5vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    padding: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, 0.04);
    border-radius: 100px;
    background-color: #1e2029;
}

.oc-team-arrow.left {
    left: auto;
    right: 5vw;
    margin-right: 72px;
}

.oc-team-slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 140px;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000)),
        url("https://uploads-ssl.webflow.com/636e4037c3c48120c217fe15/63840b401a6431359e7af5d9_waves.jpg");
    background-image: linear-gradient(180deg, transparent, #000),
        url("https://uploads-ssl.webflow.com/636e4037c3c48120c217fe15/63840b401a6431359e7af5d9_waves.jpg");
    background-position: 0px 0px, 50% 0%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
}

.oc-team-slide-content {
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-bottom: 36px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.oc-slide-nav {
    display: none;
}

.oc-team-image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 101%;
    margin-right: auto;
    margin-left: auto;
    background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.oc-team-image.will {
    margin-right: 0px;
    background-image: url("@img/team/will.jpg");
    background-position: 100% 0%;
}

.oc-team-image.pascal {
    background-image: url("@img/team/pascal.jpg");
}

.oc-team-image.z {
    background-image: url("@img/team/z.jpg");
}

.oc-team-image.stuard {
    width: 101%;
    background-image: url("@img/team/stuard.jpg");
    background-position: 0% 0%;
}

.oc-team-image.jay {
    width: 101%;
    background-image: url("@img/team/jay2.png");
    background-position: 0% 0%;
}

.oc-team-image.teo {
    background-image: url("@img/team/teo.jpg");
    background-position: 50% 0%;
}

.oc-team-image.joseph {
    background-image: url("@img/team/joseph.jpg");
    background-position: 50% 0%;
}

.oc-body-display {
    color: #8a94a6;
    line-height: 1.55em;
}

.oc-body-display.large {
    color: #b7beca;
    font-size: 18px;
    line-height: 1.6em;
}

.slide-arrow {
    width: 18px;
}

.oc-team-image-cover {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    display: none;
    height: 101%;
    background-image: url("https://uploads-ssl.webflow.com/636e4037c3c48120c217fe15/638338d79f78ed21fddb4c92_Gradient%20Blur%20001.jpg");
    opacity: 1;
    cursor: pointer;
}

.oc-email-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    .oc-member-name {
        font-size: 46px;
        line-height: 50px;
    }

    .oc-team-slide-mask {
        width: 65%;
    }

    .oc-slide-image {
        height: 50vh;
        min-height: 500px;
    }

    .oc-team-info {
        max-width: 470px;
    }

    .oc-clip-text.oc-team-headding {
        margin-top: -52px;
    }
}

@media screen and (max-width: 767px) {
    .oc-member-name {
        font-size: 34px;
        line-height: 38px;
    }

    .oc-team-slide-mask {
        width: 90%;
    }

    .oc-slide-image {
        min-height: 300px;
    }

    .oc-clip-text.oc-team-headding {
        margin-top: -39px;
    }

    .oc-team-slider {
        width: 90vw;
    }

    .oc-team-slider-wrapper {
        margin-top: 60px;
    }
}

@media screen and (max-width: 479px) {
    .oc-slide-image {
        height: 40vh;
        min-height: 300px;
    }

    .oc-team-arrow {
        top: auto;
        right: 5vw;
    }

    .oc-team-arrow.left {
        left: auto;
        right: 0vw;
        margin-right: 84px;
    }

    .oc-team-slide-content {
        padding-bottom: 6px;
    }
}
